#navbar-text {
    font-weight: 500;
    color:white;
}

#eastbayloop-navbar{
    background-color: black;
}

#logo {
    padding-left: 100px;
}

.dot {
    margin-top: 15px;
    border-radius: 2px;
    background-color: #ffe600 !important;
}


.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 50px;
    font-weight: bolder;
}

#contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
}

@media (min-width: 375px) {
   #talent-image {
    margin-left: 10px;
   }



   #formulario {
    margin-left:2%;
   }

   

  }


  @media (min-width: 414px) {
    #talent-image {
     margin-left: 25px;
    }
 
   
   }


   @media (min-width: 412px) and (max-width:414px) {
    #talent-image {
     margin-left: 30px;
    }
 
   
  
   }



   @media (min-width:800px) {
    #formulario {
        margin-left: 40%;
    }
   }
  

   #footer {
    background-color: black;
    height: 145px;;
   }

   .btn-footer{
    height: 42px;
    width: 42px;
    background-color:  rgb(217, 255, 0);
    border: 1px solid rgb(217, 255, 0) ;
   }

   @media (min-width: 360px) and (max-width:500px) { 
    .btn-footer {
        margin-left: 47%;
    }

   }


   @media (min-width: 1500px) { 
    .btn-footer {
        margin-left: 49%;
    }

   }