#navbar-text {
    font-weight: 500;
    color:white;
}

#eastbayloop-navbar{
    background-color: black;
}

#logo {
    padding-left: 100px;
}

.dot {
    margin-top: 15px;
    border-radius: 2px;
    background-color: #ffe600 !important;
}


.banner-text {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}

#contenedor {
 background-image: url(/images/talent_banner.png);
 background-repeat: no-repeat;
 background-size: 100%;
 width: 100%;
 height:755.5px;
}

@media (min-width: 375px) {
   #talent-image {
    margin-left: 10px;
   }



   #formulario {
    margin-left:2%;
   }

   

  }


  @media (min-width: 414px) {
    #talent-image {
     margin-left: 25px;
    }
 
   
   }


   @media (min-width: 412px) and (max-width:414px) {
    #talent-image {
     margin-left: 30px;
    }
 
   
  
   }



   @media (min-width:800px) {
    #formulario {
        margin-left: 40%;
    }

    .image-logo {
        padding-left: 110px;
    }

   }
  

   #footer {
    background-color: black;
    height: 145px;;
   }

   .btn-footer{
    height: 42px;
    width: 42px;
    background-color:  rgb(217, 255, 0);
    border: 1px solid rgb(217, 255, 0) ;
   }

   @media (min-width: 360px) and (max-width:500px) { 
    .btn-footer {
        margin-left: 47%;
    }

   }


   @media (min-width: 1500px) { 
    .btn-footer {
        margin-left: 49%;
    }

   }


   @media (min-width:360px) and (max-width:500px){
    #contenedor {
        height: 250px;
    }
   }


   @media (min-width:360px) and (max-width:500px) {
    .banner-text {
        transform: translate(-50%, -50%);
        color:white;
        font-size: 36px;
        font-weight: bolder;
        width: 69%;
    }
    
   }

   
   #user-icon {
    padding-top:10px;
    padding-left: 30px;
   }


   @media (min-width:360px)  and (max-width:500px) {
    .image-logo {
        padding-left: 0px;
    }

   }